doctype html
html
    include component/head.pug
    body
        include component/header.pug
        include component/aritcle-principal.pug
        include component/details-modal.pug
        script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
        script(src="index.js") 



                      
