
<article class="principal"> 
  <section class="grid grid-fluid" id="characters"></section>
  <template class="template" id="template">
    <div class="card"><img src="" alt="" srcset=""/>
      <div class="details-cards">
        <h3 class="name"></h3>
        <h4 class="specie">Species: 
          <p class="date date-specie"></p>
        </h4>
        <button class="details-cards--watch-details" id="watch-details"><a class="details" href="#">Ver detalles</a></button>
      </div>
    </div>
  </template>
</article>