article.principal 
    section.grid.grid-fluid#characters
    template.template#template
        div.card
            img(src="", alt="", srcset="")
            div.details-cards
                h3.name
                h4.specie Species: 
                    p.date.date-specie
                button.details-cards--watch-details#watch-details
                    a(href="#").a-details Ver detalles
    div.links 
        a.link--prev(href="") 
        a.link--next(href="") 