        article.details 
            section 
            template 
                 figure  
                    img(src="", alt="")
                    figcaption
                        h3
                        h4
                        h4
                        h4
                        h4