article.details
    section.details-character#details-character 
    template.template-details#template-details       
        div.close 
            a(href="#")
                span.left
                    span.circle-left
                    span.circle-right 
                span.right 
                    span.circle-left 
                    span.circle-right
        div.details-character__card-details
            img(src="", alt="", srcset="")
            div.details-character__card-details__data-details
                h2.details-character__card-details__data-details--name-details
                div.details-character__card-details__data-details__data
                    div.details-character__card-details__data-details__data__status
                        b Status:
                        p.details-character__card-details__data-details__data__status--status
                    div.details-character__card-details__data-details__data__specie
                        b Specie:
                        p.details-character__card-details__data-details__data__specie--specie
                    div.details-character__card-details__data-details__data__gender 
                        b Gender:
                        p.details-character__card-details__data-details__data__gender--gender
                    div.details-character__card-details__data-details__data__origin 
                        b Origin: 
                        p.details-character__card-details__data-details__data__origin--origin
                    div.details-character__card-details__data-details__data__location
                        b Location: 
                        p.details-character__card-details__data-details__data__location--location 
                    div.details-character__card-details__data-details__data__created 
                        b Created: 
                        p.details-character__card-details__data-details__data__created--created