head 
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=7")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Rick and Morty
    link(rel="icon", href="./assets/portal6.png")
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Source+Sans+Pro:wght@200;400;700&display=swap")(rel="stylesheet")
    link(rel="stylesheet", href="./sass/style.css")
    link(rel="stylesheet", href="./sass/table.css", media="(min-width: 430px)")
    link(rel="stylesheet", href="./sass/desktop.css", media="(min-width: 700px)")