header.header
    div.header__logo
        img(src="./assets/portal5.png", alt="logo-rick-morty", srcset="")
    nav.header__nav
        input#search(type="search")(placeholder="Search character")
div.filter        
    label(for="select-primary") Filter by
    select#select-primary(name="primary")
    label(for="select-secondary")
    select#select-secondary(name="secondary")


